$base-color:#50BE91; //主色
$text-color:#1F2321; //文字主色
// 辅助色
$color-green:#64C566;
$color-blue:#5BACEE;
$color-purple:#F37FC9;
$color-orange:#FFAA6B;
$color-red:#FA8383;
// 辅助文字色
$color-black:#737574;
$color-gray:#C3C7C6;
$color-line:#F2F2F2;
$color-bg:#F8F8F8;
$color-pop:#398E6B;